html[data-theme='light'] {
  --background: #fff;
  --second-background: #fff;
  --primary-text: #111214;
  --second-text: #a9a9aa;
  --accent-color: #fe390c;
  --slider-hover-color: #3f3f3f;
  --auth-button-bacground: #171820;
  --auth-button-color: #fff;
  --project-page-text-primary: #1a1c1f;
  --awesome-button-background: #fbf9f4;
  --awesome-button-hover: #f5e7d6;
  --awesome-button-text: #995200;
}

html[data-theme='dark'] {
  --background: #2a2a2a;
  --second-background: #111214;
  --primary-text: #fff;
  --second-text: #a9a9aa;
  --accent-color: #fe390c;
  --slider-hover-color: white;
  --auth-button-bacground: #a9a9aa;
  --auth-button-color: #171820;
  --project-page-text-primary: #cacaca;
  --awesome-button-background: #5f3e0d;
  --awesome-button-hover: #79531a;
  --awesome-button-text: #ff8a04;
}

body {
  background: var(--background);
  /* transition: background-color 400ms;     */
}

html {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
    border-radius: 12px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* height: 112px; */
    background: var(--scroll-color);
    border-radius: 12px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-bg);
  }
}
