.list {
  width: 75%;
  height: 50%;

  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-content: center;
  justify-content: center;
}

.container {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 30px;
}

.btn-more-container {
  position: absolute;
  bottom: 20px;
  left: 40%;
}

.btn-more {
  display: inline-block;
  padding: 4px 8px;
  margin: 2px;
  background-color: #313131;
  color: #999;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #111111;
  border-radius: 3px;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 12px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

  text-shadow: -1px -1px 0 #3f3f3f, -1px 0 0 #3f3f3f, -1px 1px 0 #3f3f3f,
    0 -1px 0 #3f3f3f, 0 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 1px -1px 0 #3f3f3f,
    1px 0 0 #3f3f3f, 1px 1px 0 #3f3f3f;
}

@media screen and (min-width: 1440px) {
  .btn-more-container {
    left: 45%;
  }

  .btn-more {
    font-size: 16px;
    padding: 6px 12px;
  }

  .list {
    width: 60%;
  }
}

.div {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.cabinet-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: white;
  background-color: transparent;
  border: none;
  transition: all 250ms ease-in-out;
  &:hover {
    color: #fe390c;
    transform: scale(1.2);
  }
}
