@font-face {
  font-display: swap;
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Anton-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Montserrat-SemiBold.woff2') format('woff2');
}
.slick-next.slick-arrow {
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.65) 0px,
      rgba(0, 0, 0, 0) 100%
    )
    rgba(0, 0, 0, 0);
  opacity: 0;
}
.slick-next.slick-arrow:hover {
  opacity: 1;
}

.slick-prev.slick-arrow {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65) 0px,
      rgba(0, 0, 0, 0) 100%
    )
    rgba(0, 0, 0, 0);
  opacity: 0;
}
.slick-prev.slick-arrow:hover {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
