.slick-next.slick-arrow {
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.65) 0px,
      rgba(0, 0, 0, 0) 100%
    )
    rgba(0, 0, 0, 0);
  opacity: 0;
}
.slick-next.slick-arrow:hover {
  opacity: 1;
}

.slick-prev.slick-arrow {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65) 0px,
      rgba(0, 0, 0, 0) 100%
    )
    rgba(0, 0, 0, 0);
  opacity: 0;
}
.slick-prev.slick-arrow:hover {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.slick-slide > div > .image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}
